@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Spectral&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.9em;
}

/* NAV BAR */

header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

header,
aside {
  background-color: #ffc017;
  border-bottom: 1px solid #000;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin: 25px;
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  gap: 25px;
  align-items: center;
  justify-content: end;
}

header ul li a {
  text-decoration: none;
  color: black;
}

.btn {
  border: none;
  background-color: #191919;
  border: 1px solid #191919;
  color: white;
  padding: 11px 18px;
  border-radius: 25px;
  cursor: pointer;
  align-self: flex-start;
  text-decoration: none;
}

/* MAIN & HERO */

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: start;
}

h1 {
  font-family: "Spectral", serif;
  font-size: 7em;
}

h3 {
  font-family: "Spectral", serif;
  font-size: 2.5em;
  margin-block: 15px;
}

h4 {
  font-size: 1em;
  margin-top: 20px;
  display: flex;
  justify-content: start;
}

p {
  text-align: center;
}

.hero-left {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
  letter-spacing: -3px;
  font-weight: 400;
  font-family: "Spectral", serif;
}

.hero-left a {
  letter-spacing: 0;
}

.btn-start {
  padding: 12px 55px;
  font-size: 20px;
}

main div.hero-left a {
  text-decoration: none;
  text-align: center;
}

.trading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 20px;
  padding: 20px 0;
  align-items: flex-end;
  justify-content: flex-start;
}

.trading-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 0 0 30%;
  margin: 0 10px 20px;
  max-width: 33.33%;
  position: relative;
}

.trading-section p {
  margin: 0;
}

.trading-section p:first-child {
  font-weight: 400;
}

.trading-section p:nth-child(3) {
  font-size: 1rem;
  color: #000;
  margin: 5px 0;
  font-weight: 700;
  text-align: left;
}

.profile {
  display: block;
  border-radius: 50%;
  width: 25px;
}

.profile-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.bottom-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.position {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.special {
  color: grey;
  position: absolute;
  top: 0;
  left: -30px;
  font-size: 20px;
}

.trading-section p:nth-child(3) {
  margin-block: 15px;
}

.trading-section p:nth-child(4) {
  color: grey;
  font-weight: 400;
}

.content-container {
  display: flex;
  margin-top: 20px;
}

.mini-section {
  display: flex;
  margin-bottom: 20px;
  margin-right: 40px;
  align-items: flex-end;
}

.left-column {
  max-width: 800px;
  margin-inline: auto;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  margin-inline: auto;
  position: sticky;
  top: 85px;
  z-index: 1000;
}

.sticky-container {
  margin: 20px auto;
}

.content {
  max-width: 600px;
  margin-inline: auto;
}

.text {
  padding-right: 20px;
  line-height: 50px;
}

.img {
  flex-shrink: 0;
  margin-inline: 25px;
}

.img img {
  width: 200px;
  height: auto;
}

.text h5 {
  font-size: 2em;
  font-weight: bold;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

section div.text span {
  background-color: #f2f2f2;
  opacity: 50%;
  border-radius: 25px;
  border: 1px solid #f2f2f2;
  padding: 5px;
  max-width: 20px;
  max-height: 20px;
}

section div.text p {
  text-align: left;
}

section div.text p:not(:nth-of-type(1)) {
  color: grey;
}

section div.text p:nth-of-type(1) {
  font-weight: 300;
}

.topics-flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.topics-flex button {
  flex: 0 0 calc(33.333% - 10px);
  margin-bottom: 10px;
}

.footer-title {
  display: flex;
  flex-direction: column;
  margin-block: 25px;
}

.footer-links {
  display: flex;
  border-top: 1px solid #ccc;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footer-title h2 {
  color: green;
}

.footer-links a {
  margin-top: 30px;
  text-decoration: none;
  color: #000;
  margin-right: 10px;
}

.btn.footer {
  background-color: #f2f2f2;
  color: black;
  border: none;
}

/* MOBILE */

@media screen and (max-width: 480px) {
  .container {
    margin-inline: 30px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .nav {
    margin-bottom: 25px;
    flex-direction: column;
  }

  .logo,
  .btn {
    margin: 10px 0;
  }

  .btn {
    align-self: center;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }

  .trading-section {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .left-column,
  .right-column {
    max-width: 100%;
  }

  .mini-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .content-container {
    flex-direction: column;
  }

  .sticky-container {
    margin: 20px 20px;
  }

  h1 {
    font-size: 5em;
    margin-top: 30px;
  }

  h3 {
    font-size: 2em;
  }
}

/* TABLET */

@media screen and (min-width: 481px) and (max-width: 768px) {
  .container {
    margin-inline: 30px;
  }

  .hero {
    flex-direction: column;
    text-align: center;
  }

  .nav {
    margin-bottom: 25px;
    flex-wrap: wrap;
  }

  .logo,
  .btn {
    margin: 10px 0;
  }

  .btn {
    align-self: center;
  }

  .trading-section {
    flex: 0 0 50%;
    max-width: 50%;
  }
  section div.text p {
    text-align: center;
  }

  .text h5 {
    text-align: center;
  }

  .profile-flex {
    justify-content: center;
  }

  .bottom {
    justify-content: space-evenly;
  }

  .mini-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-column,
  .right-column {
    max-width: 100%;
  }

  .content-container {
    flex-direction: column;
  }

  h1 {
    font-size: 6em;
    margin-top: 30px;
  }

  h3 {
    font-size: 2.5em;
  }

  .sticky-container {
    margin: 20px 20px;
  }
}

@media screen and (max-width: 900px) {
  .hero img {
    display: none;
  }
}
